<form #loginform="ngForm" class="col-sm-8 col-lg-offset-4" style="padding:80px" (ngSubmit)="login()">

  <div class="container col-sm-7 ">
      <legend>Login User</legend>
      <div *ngIf="this.isnotnull" class="alert alert-danger">
          <div [hidden]="!this.isnotnull">{{this.result}}</div>
      </div>
      <div class="form-group">
    <label for="uname"><b>Email</b></label>
    <input  type="email" [(ngModel)]="model.email" class="form-control"  placeholder="Enter Email" name="uname" required #eml="ngModel"/>
    <div *ngIf="eml.errors && (eml.dirty|| eml.touched)" class="alert alert-danger">
      <div [hidden]="!eml.errors.required">Email is required</div>

    </div>
      </div>
      <div class="form-group">
    <label for="Password"><b>Password</b></label>
    <input  type="password" [(ngModel)]="model.password" class="form-control" placeholder="Enter Password" name="Password" required minlength="6" #pswd="ngModel"/>
    <div *ngIf="pswd.errors && (pswd.dirty|| pswd.touched)" class="alert alert-danger">
      <div [hidden]="!pswd.errors.required">Password is required</div>
      <div [hidden]="!pswd.errors.minlength">Minimum 6 characters</div>
    </div>
  </div>
<div style=" height: 50px">
    <button [disabled]="!loginform.form.valid" type="submit" class="btn btn-default">Login</button>
    <label style="float:right">
        <input type="checkbox" [(ngModel)]="model.rememberme"  name="remember"> Remember me
      </label>
  </div>
    
  </div>

  <div class="col-sm-7" style="background-color:#d6d5d5; height:30px">
    <div><a routerLink="/signup" routerLinkActive="active">Sign Up</a>
      <span style="float:right">Forgot <a href="#">password?</a></span></div>
    
  </div>
</form>