
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                    </div>
                </div>
            <div class="" >
                <div class="panel-body">
                <app-feed></app-feed>
                <app-message-form></app-message-form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

